@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to right, #374151 , #1f2937, #030712);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@media print {
  @page {
    size: A4;
    margin: 20mm;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  button {
    display: none !important;
  }

  html,
  body {
    height: auto !important;
    overflow: visible !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}